<!DOCTYPE html>
<html>
<head>
  <title>Municipal Service Schedule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F702T1DY3R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F702T1DY3R');
  </script>
  
</head>
<body>
  
  <nav class="top-bar">
    <h3><a href="/">Municipal Service Schedule</a></h3>
    <img src="https://jkorenstein-production.s3.amazonaws.com/yard-service/waltham-logo.png" alt="Waltham Logo" height="100">
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <nav class="top-bar">
    <!-- <h6><a href="/">Coronado Consulting</a></h6> -->
    <h6><a href="mailto:j.korenstein@gmail.com?subject=Mail from Yard Service">Jeff Korenstein</a></h6>
    <h6><a href="/about">About</a></h6>
  </nav>
  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
