<!DOCTYPE html>
<html>
<head>
  <title>Municipal Service Schedule</title>
  <!-- ><title>Yard Waste Pickup Schedule</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar">
    <h3><a href="/">Municipal Service Schedule</a></h3>
    <!-- <h3><a href="/">Yard Waste Pickup Schedule</a></h3> -->
    <img src="https://jkorenstein-production.s3.amazonaws.com/yard-service/waltham-logo.png" alt="Waltham Logo" height="100">
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <nav class="top-bar">
    <h6><a href="/">Coronado Consulting<br>Jeff Korenstein</a></h6>
  </nav>
  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
